.analysis-loading-page {
  position: relative;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Roobert TRIAL', sans-serif;
  overflow: hidden;
}

.analysis-loading-page .diamond {
  position: absolute;
  transform: rotate(45deg);
  border-style: dashed;
  border-width: 2px;
  background-color: transparent;
}

.analysis-loading-page .diamond-inner {
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  border-color: #6B6B6B;
  opacity: 1;
  animation: rotate-diamond 80s linear infinite;
}

.analysis-loading-page .diamond-middle {
  width: 630px;
  height: 630px;
  top: 50%;
  left: 50%;
  margin-top: -315px;
  margin-left: -315px;
  border-color: #A0A4AB;
  opacity: 1;
  animation: rotate-diamond 60s linear infinite;
}

.analysis-loading-page .diamond-outer {
  width: 762px;
  height: 762px;
  top: 50%;
  left: 50%;
  margin-top: -381px;
  margin-left: -381px;
  border-color: #C5C7CB;
  opacity: 1;
  animation: rotate-diamond 100s linear infinite;
}

@keyframes rotate-diamond {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

.preparing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roobert TRIAL', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #1A1B1C;
  text-align: center;
  z-index: 10;
  white-space: nowrap;
}

/* Responsive Media Queries */
@media (max-width: 1024px) {
  .analysis-loading-page .diamond-inner {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
  }
  .analysis-loading-page .diamond-middle {
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
  }
  .analysis-loading-page .diamond-outer {
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
  }
  .preparing-text {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .analysis-loading-page .diamond-inner {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
  }
  .analysis-loading-page .diamond-middle {
    width: 380px;
    height: 380px;
    margin-top: -190px;
    margin-left: -190px;
  }
  .analysis-loading-page .diamond-outer {
    width: 460px;
    height: 460px;
    margin-top: -230px;
    margin-left: -230px;
  }
  .preparing-text {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .analysis-loading-page .diamond-inner {
    width: 240px;
    height: 240px;
    margin-top: -120px;
    margin-left: -120px;
  }
  .analysis-loading-page .diamond-middle {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
  }
  .analysis-loading-page .diamond-outer {
    width: 360px;
    height: 360px;
    margin-top: -180px;
    margin-left: -180px;
  }
  .preparing-text {
    font-size: 18px;
  }
}
