.App {
  position: relative;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roobert TRIAL', sans-serif;
  overflow: hidden;
}

.header-image {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 1;
}

.top-left-text {
  position: absolute;
  top: 16px;
  left: 32px;
  font-size: 16px;
  opacity: 1;
  color: #1A1B1C;
}

.skinstric-text {
  font-weight: 700;
  margin-right: 12px;
}

.intro-text {
  color: #A0A4AB;
}

.sophisticated-page {
  width: 680px;
  height: 240px;
  opacity: 1;
  transform: rotate(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sophisticated-text {
  font-family: 'Roobert TRIAL', sans-serif;
  font-size: 128px;
  font-weight: 300;
  font-style: normal;
  line-height: 120px;
  letter-spacing: -7%;
  text-align: center;
  color: #1A1B1C;
}

.skincare-text {
  font-family: 'Roobert TRIAL', sans-serif;
  font-size: 128px;
  font-weight: 300;
  font-style: normal;
  line-height: 120px;
  letter-spacing: -7%;
  text-align: center;
  color: #1A1B1C;
}

.triangle {
  position: absolute;
  width: 480px;
  height: 480px;
  opacity: 1;
  transform: rotate(45deg);
  border: 2px dashed #A0A4AB;
  background-color: transparent;
}

.triangle-left {
  top: 179px;
  left: -240px;
}

.triangle-right {
  top: 179px;
  right: -240px;
}

.take-test-button {
  position: absolute;
  width: 127px;
  height: 44px;
  top: 410px;
  right: 50px;
  opacity: 1;
  transform: rotate(0deg);
  gap: 16px;
}

.ai-button {
  position: absolute;
  width: 150px;
  height: 44px;
  top: 410px;
  left: 32px;
  opacity: 1;
  transform: rotate(0deg);
  gap: 16px;
}

.bottom-left-text {
  position: absolute;
  width: 316px;
  height: 72px;
  bottom: 32px;
  left: 32px;
  opacity: 1;
  transform: rotate(0deg);
  font-family: 'Roobert TRIAL', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #1A1B1C;
}
